@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Playfair Display', serif;
    scroll-behavior: smooth;
}

.landing-page{
    background: url('/src/assets/landing-1.jpg');
    background-size: cover;
    margin-top: -6rem;
    height: calc(100dvh + 6rem); 
    position: relative;   
    z-index: 1; /* Brings the landing page to the front */ 
    overflow: hidden; 
}

/* Optional overlay for background */
.landing-page::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.19); /* Semi-transparent overlay */
    z-index: -1; /* Keeps the overlay behind the content */
}

.badge {
    background-color: black;
    color: #fff;
    border-radius: 50%; 
    width: 18px;
    height: 18px; 
    text-align: center;
    font-weight: 500;
    font-size: 10px;
    position: absolute;
    left: 60%;
    bottom: 60%;
}